# DB 설정

In [1]:
import yaml
with open('./config/config.yml') as f:
    conf = yaml.load(f, Loader=yaml.FullLoader)['mysql']
    host=conf['host'] 
    user=conf['user'] 
    passwd=conf['passwd'] 
    port=conf['port']

# DB 연결

In [2]:
# import the mysql client for python

import pymysql
			
database = "sample"
database=database
conn = pymysql.connect(host=host, 
                       user=user, 
                       password=passwd, 
                       database=database, 
                       port=port)

cur = conn.cursor()

# DB 엔진 확인

In [4]:
cur = conn.cursor()
#query = f"INSERT INTO PRODUCT (PRODUCT_ID, price,PRODUCT_TYPE) VALUES ('{PRODUCT_ID}', '{price}', '{PRODUCT_TYPE}')"
q = '''
select engine, support 
from information_schema.engines
where support='DEFAULT'
'''

# default 엔진 수정
'''
SET default_storage_engine=엔진이름;
'''
cur.execute(q)
print(f"{cur.rowcount} details inserted")
conn.commit()
#conn.close()
rst = cur.fetchall()
rst[0]

1 details inserted

('InnoDB', 'DEFAULT')

In [6]:
rst = cur.fetchall()
rst

()

# uuid->bytes 테스트

In [ ]:
import uuid
print(uuid.uuid5(uuid.NAMESPACE_OID,'a'))
print(uuid.uuid5(uuid.NAMESPACE_OID,'a'))
print(uuid.uuid5(uuid.NAMESPACE_OID,'b'))


'''
CREATE TABLE test ( 
    id BINARY(16) NOT NULL, 
    user VARCHAR(15) NOT NULL , 
    PRIMARY KEY (id) 
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
'''

'''
select * 
from test
'''

'''
INSERT INTO test (id, user) VALUES (UNHEX(REPLACE(UUID(),'-','')), 'Jimmy');
'''

'''
INSERT INTO test (id, user) VALUES (%s, 'Timmy');
'''
#cur.execute(q, uuid.uuid1().bytes)
cur.execute(q)
print(f"{cur.rowcount} details inserted")
rst = cur.fetchall()
conn.commit()
print(rst)
#conn.close()

# DB char immogi 포함할 수 있게

In [7]:

# =utf8mb4 이모지 있는 경우도 포함해서.
'''
CREATE TABLE listenbrainz(
        uuid BINARY(16) NOT NULL,
        listened_at varchar(32) not null,
        user_name varchar(256) not null,
        artist_name varchar(512) not null,
        artist_msid varchar(36) not null,
        release_name varchar(256),
        release_msid varchar(36),
        track_name varchar(256) not null,
        recording_msid varchar(36) not null,
        primary key(uuid)
    )ENGINE=INNODB CHARSET=utf8mb4;
'''

q='''
drop table listenbrainz
'''

# default 엔진 수정
'''
SET default_storage_engine=엔진이름;
'''

cur = conn.cursor()
#cur.execute(q, uuid.uuid1().bytes)
cur.execute(q)
print(f"{cur.rowcount} details inserted")
rst = cur.fetchall()
conn.commit()
print(rst)
#conn.close()

0 details inserted
()

# 엑셀 데이터 db에 넣기

In [ ]:
# df = pd.read_excel('Sample - Superstore.xls', sheet_name=0)

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import engine

db_connection_str = f'mysql+pymysql://{user}:{passwd}@{host}/{database}'
db_connection = create_engine(db_connection_str)
conn_ = db_connection.connect()

In [ ]:

engine.url.URL(drivername='mysql+pymysql', 
               username=user, 
               password=passwd, 
               host=host, 
               database=database)
# 주소 만들어줌
# mysql+pymysql://jupyter:***@1.232.221.11/sample

In [ ]:
df.to_sql(name='action_log', 
          con=db_connection, 
          if_exists='replace', 
          index=False)

In [ ]:
q = '''
with reg_month as (
    SELECT *, DATE_FORMAT(register_date,"%Y-%m") as new_reg_date, count(*) as new_users
    FROM mrt_users
    group by new_reg_date
)


select *
from reg_month as r
join (
    SELECT *, DATE_FORMAT(register_date,"%Y-%m") as new_reg_date, count(*) as new_users
    FROM action_log
    group by new_reg_date
) as act
#on r.reg_month = act.action_month

'''


'''
SELECT * , count(*) as count_
FROM mrt_users
group by register_date
'''


"""
RENAME TABLE mst_users TO mrt_users
"""

'''
select version()
'''

q='''
show variables like '%time_zone%';
'''
cur.execute(q)
print(f"{cur.rowcount} details inserted")
rst = cur.fetchall()
conn.commit()
rst
#conn.close()